li {
  position: absolute;
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 70px;
}

H1 {
  position: absolute;
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 100px;
}